/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

/* ------------- */
/* BASE */
html {
  scroll-behavior: smooth;
}

.card-title {
  text-align: center;
  background: rgba(240, 230, 231, 0.3);
  padding: 30px;
  clear: both;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: rgba(61, 61, 61, 0.9);
  font-size: 25px;
  margin: 10px 0;
  transition: all 0.5s ease;
}
.card-title p:hover {
  cursor: pointer;
}

#section-cards {
  width: 90vw;
  height: 100vh;
  grid-gap: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% 0 5%;
}

.card {
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.03);
  border-radius: 15px;
  cursor: pointer;
}

#btn {
  font-size: 14px;
  color: #fdfdfd;
  letter-spacing: 1.5px;
  font-family: sans-serif;
  width: 90px;
  background: rgba(191, 67, 66, 0.8);
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: border-radius 0.3s;
}
#btn:hover {
  border-radius: 20px;
  cursor: pointer;
}

#plus {
  float: right;
  padding-right: 5px;
}

/* HEADER */
#logo {
  background: url(../images/logo.svg) no-repeat center center;
  width: 100vw;
  height: 12vh;
  margin: 20px 0;
}

input,
ul {
  display: none;
}

#section-header {
  background: rgba(240, 230, 231, 0.3);
  padding: 1px;
}

ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 10;
}
ul li {
  padding: 15px 25px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  color: #3d3d3d;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.6s;
}
ul li:hover {
  color: #3d3d3d;
}
ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgba(0, 100, 52, 0.5);
  transition: width 0.2s ease-in;
}
ul a {
  text-decoration: none;
}
ul a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgba(0, 100, 52, 0.5);
  transition: width 0.2s ease-in;
}
ul a:hover::after {
  width: 100%;
}

/* ---------------------- */
/* SLIDER */
@-webkit-keyframes slide {
  0% {
    background: url(../images/banner1.jpeg) no-repeat center center;
    background-size: cover;
  }
  25% {
    background: url(../images/banner1.jpg) no-repeat center center;
    background-size: cover;
  }
  50% {
    background: url(../images/banner3.jpeg) no-repeat center center;
    background-size: cover;
  }
  75% {
    background: url(../images/banner4.jpeg) no-repeat center center;
    background-size: cover;
  }
  100% {
    background: url(../images/banner1.jpeg) no-repeat center center;
    background-size: cover;
  }
}
@keyframes slide {
  0% {
    background: url(../images/banner1.jpeg) no-repeat center center;
    background-size: cover;
  }
  25% {
    background: url(../images/banner1.jpg) no-repeat center center;
    background-size: cover;
  }
  50% {
    background: url(../images/banner3.jpeg) no-repeat center center;
    background-size: cover;
  }
  75% {
    background: url(../images/banner4.jpeg) no-repeat center center;
    background-size: cover;
  }
  100% {
    background: url(../images/banner1.jpeg) no-repeat center center;
    background-size: cover;
  }
}
#bg-lg {
  background: url(../images/banner2.jpg) no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  float: left;
  margin: 10px 0;
  transition: all 5s ease;
  -webkit-animation: slide 20s infinite;
          animation: slide 20s infinite;
}
#bg-lg #searchbar {
  border: none;
  max-width: 30%;
  width: 100%;
  height: 5vh;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.5s;
  display: block;
  outline: none;
  color: #4d4d4d;
  letter-spacing: 1px;
  border-radius: 5px;
}
#bg-lg #searchbar:hover {
  border-radius: 10px;
}
#bg-lg #searchbar:focus {
  border-radius: 20px;
}

input::-moz-placeholder {
  font-style: italic;
  opacity: 0.5;
}

input:-ms-input-placeholder {
  font-style: italic;
  opacity: 0.5;
}

input::placeholder {
  font-style: italic;
  opacity: 0.5;
}

#title {
  max-width: 40%;
  width: 100%;
  color: #434343;
  margin: auto;
  margin-top: 15vh;
  margin-bottom: 2%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  transition: all 0.3s ease;
}
#title h3 {
  font-size: 30px;
  text-align: center;
  margin: 20px auto;
  padding: 20px 0 0 0;
}
#title p {
  font-family: Pepitto;
  text-align: justify;
  font-size: 1rem;
  padding: 0 30px 20px 30px;
  opacity: 0.9;
  line-height: 1.5rem;
  font-style: italic;
}
#title:hover {
  border-radius: 20px;
  cursor: pointer;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ----------------------------- */
/* LATEST RECIPES */
#card1 {
  background: rgba(240, 230, 231, 0.3);
}

#card2 {
  background: rgba(240, 230, 231, 0.3);
}

#card3 {
  background: rgba(240, 230, 231, 0.3);
}

#card4 {
  background: rgba(240, 230, 231, 0.3);
}

#card5 {
  background: rgba(240, 230, 231, 0.3);
}

#card6 {
  background: rgba(240, 230, 231, 0.3);
}

/* -------------------------- */
/* ABOUT */
#about {
  display: flex;
  justify-content: center;
}

#about-card {
  width: 62vw;
  padding: 50px;
  background: none;
}
#about-card:hover {
  border-radius: 40px;
}
#about-card #bg-img {
  background: url(../images/poza2.jpg) no-repeat center center;
  background-size: cover;
  width: 320px;
  height: 320px;
  float: left;
  border-radius: 10px;
}
#about-card #bg-img:nth-child(2) {
  display: none;
}

#text-content {
  float: right;
}

#about-title {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-style: italic;
  margin: 40px 0;
}

#about-text {
  width: 25vw;
  line-height: 24px;
  font-size: 14px;
  text-align: justify;
}

#about-text p {
  margin-bottom: 15px;
}

/* ---------------------- */
/* RECIPES */
#section-recipes {
  display: flex;
  justify-content: center;
}
#section-recipes #recipes-title {
  text-align: center;
}
#section-recipes #recipes-title h3 {
  margin: 20px 0;
}

/* FOOTER */
#section-footer {
  margin: 100px 0 0 0;
  background: rgba(240, 230, 231, 0.3);
  padding: 50px;
}

#footlogo {
  background: url(../images/logo.svg) no-repeat center center;
  width: 90px;
  height: 12vh;
  margin: 20px 0;
}

main {
  display: flex;
}

.box {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

#box1 {
  border-right: solid 1px rgba(33, 33, 33, 0.1);
}

#box3 {
  border-left: solid 1px rgba(33, 33, 33, 0.1);
}

#footnav {
  list-style-type: none;
  display: flex;
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
  background: none;
  justify-content: center;
}
#footnav li {
  padding: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
  color: #3d3d3d;
  background: none;
}
#footnav li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #3d3d3d;
  transition: width 0.2s ease-in;
}
#footnav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #3d3d3d;
  transition: width 0.2s ease-in;
}
#footnav a:hover::after {
  width: 100%;
}

.icon {
  width: 1.5vw;
  margin: 0 15px;
}

@media only screen and (max-width: 1130px) {
  #title {
    max-width: 70%;
  }

  #bg-lg #searchbar {
    max-width: 60%;
  }

  #section-cards {
    width: 90%;
    grid-gap: 2%;
  }

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about-card {
    width: 100%;
    padding: 20px 30px 0 30px;
    background: none;
    transition: all 0.3s;
  }
  #about-card:hover {
    border-radius: 40px;
  }
  #about-card #bg-img {
    width: calc(100% / 2 - 10px);
    height: 250px;
  }
  #about-card #bg-img:nth-child(2) {
    display: block;
    margin-left: 20px;
  }
  #about-card #about-title {
    text-align: center;
  }
  #about-card #about-text {
    width: 60%;
    margin: 0 auto;
  }
}
/* tablets */
@media only screen and (max-width: 600px) {
  #bg-lg {
    margin-top: 0;
    height: 50vh;
  }

  #title {
    max-width: 80%;
    width: 100%;
    font-size: 30px;
  }

  #searchbar {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  #section-cards {
    max-width: 90%;
    width: 100%;
    height: 40vh;
    grid-gap: 2%;
    margin: 0 auto;
  }

  #about {
    display: flex;
    justify-content: center;
  }

  #about-card {
    width: 100%;
    padding: 20px 30px 0 30px;
    background: none;
    transition: all 0.3s;
  }
  #about-card:hover {
    border-radius: 40px;
  }
  #about-card #bg-img {
    width: 100%;
    height: 250px;
  }
  #about-card #bg-img:first-child {
    margin-left: 0;
  }
  #about-card #bg-img:nth-child(2) {
    display: none;
  }
  #about-card #about-title {
    text-align: center;
  }
  #about-card #about-text {
    width: 100%;
    margin: 0 auto;
  }

  #section-footer {
    margin: 0 auto;
    background: rgba(240, 230, 231, 0.3);
    width: 100%;
  }

  #footlogo {
    background: url(../images/logo.svg) no-repeat center center;
    width: 60%;
    margin: 70px auto 0 auto;
  }

  main {
    display: grid;
    width: 100%;
  }

  .box {
    width: 100%;
  }

  #box1 {
    border: none;
    width: 10%;
    height: auto;
    margin: 0 auto;
  }

  #box2 {
    height: 80px;
    border: none;
  }

  #box3 {
    border: none;
  }

  #footnav {
    list-style-type: none;
    background: none;
    margin: 80px auto 0 auto;
  }
  #footnav li {
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
    color: #3d3d3d;
  }
  #footnav li:first-child {
    margin-left: -10px;
  }
  #footnav li:hover {
    background: none;
  }
  #footnav a {
    text-decoration: none;
    color: #4d4d4d;
    transition: all 1s;
  }
  #footnav a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    transition: width 0.2s ease-in;
  }
  #footnav a::after:hover::after {
    width: 100%;
  }

  .icon {
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease;
  }
  .icon:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  #you {
    float: left;
  }

  #inst {
    float: left;
    margin: 0 20px;
  }

  #fb {
    clear: both;
  }
}
@media only screen and (max-width: 370px) {
  #section-footer {
    height: 0;
    padding: 20px 0 40px 0;
  }

  #footnav {
    display: none;
  }

  #footlogo {
    display: none;
  }

  #box1 {
    width: 17% !important;
  }

  #box2,
#box3 {
    display: none;
  }
}
/* mobile */
@media only screen and (max-width: 550px) and (min-width: 230px) {
  #logo {
    display: none;
  }

  #section-header {
    background: rgba(240, 230, 231, 0.3);
    width: 100%;
    height: 45px;
  }

  input,
ul {
    display: none;
  }

  input:checked + label + ul {
    display: block;
    margin-top: 45px;
    position: absolute;
  }

  input:checked + label {
    background: rgba(255, 255, 255, 0.9);
    color: white;
    position: absolute;
    top: 0;
  }

  label div {
    width: 30px;
    height: 3px;
    margin: 4px 0;
    background: #333;
    transition: all 0.3s;
  }

  label {
    float: left;
    padding: 10px;
  }

  input:checked + label div:first-child {
    transform: translate(0, 8px) rotate(45deg);
  }

  input:checked + label div:last-child {
    transform: translate(0, -6px) rotate(-45deg);
  }

  input:checked + label div:nth-child(2) {
    transform: scale(0);
  }

  ul {
    width: 100vw;
    background: rgba(33, 33, 33, 0.9);
    z-index: 10;
  }
  ul li {
    padding: 15px 25px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    color: #fdfdfd;
    transition: all 0.6s;
    text-align: center;
  }
  ul li:hover {
    background-color: #fafafa;
    color: #3d3d3d;
  }
  ul a {
    text-decoration: none;
  }

  #bg-lg {
    margin-top: 0;
    height: 50vh;
  }
  #bg-lg p {
    display: none;
  }

  #title {
    width: 100%;
    height: auto;
    font-size: 30px;
    padding: 0 30px;
    padding-bottom: 1px;
  }

  #searchbar {
    max-width: 80% !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  #section-cards {
    max-width: 90%;
    width: 100%;
    height: 40vh;
    grid-gap: 2%;
    margin: 0 auto;
  }

  #about {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #about-card {
    width: 100% !important;
    padding: 0px 30px;
    background: none;
    transition: all 0.3s;
    background: none;
  }
  #about-card:hover {
    border-radius: 0px !important;
  }
  #about-card #about-title {
    margin: 0 0 40px 0;
  }

  #about-text {
    padding: 0;
  }

  #bg-img {
    width: 100%;
    background: none !important;
    position: absolute;
  }

  #about-text {
    width: 100%;
  }

  #text-content {
    width: 100%;
    padding: 0;
  }

  #section-footer {
    margin: 0 auto;
    background: rgba(240, 230, 231, 0.3);
    width: 100%;
  }

  #footlogo {
    background: url(../images/logo.svg) no-repeat center center;
    width: 60%;
    margin: 70px auto 0 auto;
  }

  main {
    display: grid;
    width: 100%;
  }

  .box {
    width: 100%;
  }

  #box1 {
    border: none;
    width: 10%;
    height: auto;
    margin: 0 auto;
  }

  #box2 {
    height: 80px;
    border: none;
  }

  #box3 {
    border: none;
  }

  #footnav {
    list-style-type: none;
    background: none;
    margin: 80px auto 0 auto;
  }
  #footnav li {
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
    color: #3d3d3d;
  }
  #footnav li:first-child {
    margin-left: -10px;
  }
  #footnav li:hover {
    background: none;
  }
  #footnav a {
    text-decoration: none;
    color: #4d4d4d;
    transition: all 1s;
  }
  #footnav a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    transition: width 0.2s ease-in;
  }
  #footnav a::after:hover::after {
    width: 100%;
  }

  .icon {
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease;
  }
  .icon:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  #you {
    float: left;
  }

  #inst {
    float: left;
    margin: 0 20px;
  }

  #fb {
    clear: both;
  }
}/*# sourceMappingURL=style.css.map */